*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contenedor-tareas{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor {
  width: 100%;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-tareas{
  width: 400px;
  height: 200px;
}


h1{
  color: #1b1b32;
  font-size: 35px;
  font-family: Robot, sans-serif;
  text-align: center;
  margin: 20px 0;
  box-shadow: 2px 2px 2px 2px black;
}

.tareas-lista-principal{
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 10px;
  border-radius: 30px;
}
